<div class="container">
  <header>
    <h1>GAME CENTER</h1>
    <h2>INTERNATIONAL GAMING CAFE FRANCHISE</h2>
    <nav>
      <a href="#">MASTER SEAT</a>
      <a href="#">FRANCHISE</a>
      <a href="#">LOCATIONS</a>
      <a href="#">BLOG</a>
      <a href="#">FRANCHISE NEWS</a>
      <button class="btn-login"><a routerLink="/login"></a>LOG IN</button>
    </nav>
  </header>

  <main>
    <section class="cta">
      <h3>MEET LOCAL GAMERS</h3>
      <h3>PLAY TOGETHER</h3>
      <p>150,000+ PLAYERS already joined. What are you waiting for?</p>
      <button class="btn-JOIN">JOIN US NOW</button>
    </section>
    <footer>
      <p>SCROLL FOR MORE</p>
    </footer>
  </main>
</div>
