<button (click)="isVisible()">Show</button>
<div *ngIf="visible" class="usersList">
  <div class="list">
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>CityID</th>
        <th>City</th>
        <th>CountryID</th>
        <th>Country</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.cityId }}</td>
        <td>{{ user.cityName }}</td>


      </tr>
      </tbody>
    </table>
  </div>
</div>
