<div class="main-content">
  <header>
    <h1>Angular Material Admin</h1>
    <div class="user-info">
      <p>Hi, {{ loggedUser.unique_name }}</p>
    </div>
  </header>
  <div class="dashboard">
    <div class="card">
      <h2>Light Blue</h2>
      <p>199 <span>-3.7%</span></p>
      <p>33 Registrations <span>3.25% Bounce Rate</span></p>
      <p>330 Views</p>
    </div>
    <div class="card">
      <h2>Sing App</h2>
      <p>121 <span>-3.2%</span></p>
      <p>15 Registrations <span>3.01% Bounce Rate</span></p>
      <p>302 Views</p>
    </div>
    <div class="card">
      <h2>RNS</h2>
      <p>175 <span>-3.1%</span></p>
      <p>31 Registrations <span>3.23% Bounce Rate</span></p>
      <p>301 Views</p>
    </div>
  </div>
  <div class="support-requests">
    <h2>Latest Users</h2>
    <table>
      <thead>
      <tr>
        <th>USER ID</th>
        <th>USERNAME</th>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>EMAIL</th>
        <th>PHONE</th>
        <th>COUNTRY</th>
        <th>CITY</th>
        <th>ROLE</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.userId }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phoneNumber }}</td>
        <td>{{ user.countryName }}</td>
        <td>{{ user.cityName }}</td>
        <td>{{ user.roleName }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
